<h2 id = "ultimate-orange">Sign Up</h2>
<%= form_for @user do |f| %>
 <%= f.label :username %>
 <%= f.text_field :username %>

 <%= f.label :password %>
 <%= f.password_field :password %>

 <%= f.submit "Submit" %>
<% end %>
<nav>
  <h2><span id="ultimate-orange" class="pull-left"><%= link_to "Back to Home Page", root_path%></span></h2>
</nav>
