  <h1 class="text-center" id = "ultimate-orange">Edit Place Cards</h1>

<%= form_for([@guest,@place_card]) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :table %>
  <%= f.text_field :table_number %>

  <%= f.label :print %>
  <%= f.check_box :print %>


  <%= f.submit %>

<% end %>

<nav>
   <h2 id = "ultimate-orange"><span class="pull-left"><%= link_to "Delete!", [@guest,@place_card], method: :delete, class: "delete" %></span><span class="pull-right"><%= link_to "Home Page", guests_path%></span></h2>
</nav>
