<h1>New Place Cards for <%= link_to @guest.mailing_title, @guest %></h1>
<% @place_cards.each do |place_card| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :table number %>
    <%= f.text_field :table_number %>

    <div class="checkbox">
      <label><input type="checkbox"> print? </label>
      <%= f.boolean :print %>
    </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-warning" name="submit" id="submit">Submit</button>
      </div>        
  </div>
  <% end %>
