<h1 class = "ultimate-orange">New Place Cards </h1>

<%= form_for([@guest,@place_card]) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :table %>
  <%= f.text_field :table_number %>

  <%= f.label :print %>
  <%= f.check_box :print %>

  <%= f.submit %>

<% end %>
<nav>
   <h2 id = "ultimate-orange"><%= link_to "Home Page", guests_path%></h2>
</nav>
