<h2  class="text-center" id = "ultimate-orange">Sign In</h2>
 <%= form_for @user, url: session_path, method: :post do |f| %>
   <%= f.label :username %>
   <%= f.text_field :username %>

   <%= f.label :password %>
   <%= f.password_field :password %>

   <%= f.submit "Submit" %>
 <% end %>
    <h2><span id="ultimate-orange" class="pull-left"><%= link_to "Back to Home Page", root_path%></span></h2>
